
# Playwright
node_modules/
/tests/report/test-results/
/tests/report/playwright-report/
/tests/report/smart-reporter-history/*.json
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/prompts/
# ESLint
.eslintcache
dashboard/
# yarn add -D C:/Users/ander/CodeDevelopment/github-repos/playwright-toolbox/packages/playwright-reporter/acahet-playwright-reporter-0.0.2.tgz